.dragicon{
    -fx-background-radius: 10;
}

.icon-not{
    -fx-background-image: url("not.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.icon-and{
    -fx-background-image: url("and.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.icon-or{
    -fx-background-image: url("or.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}